.active__block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0 2rem 0;
}
.title__add {
    padding-left: 2rem;
    & span {
        font-weight: 700;
        color: #383bcf;
        padding-left: .5rem;
    }
}
.title__panel {
    font-size: 1.5rem;
    font-weight: 700;
}