script(type="text/x-template")#reviews-components
    .container
        .controls.feedback-controls 
            button(@click="previous()").controls__block
                .controls-up 
            button(@click="next()").controls__block  
                .controls-down     
        flickity(ref="flickity" :options="flickityOptions").slider      
            li.slider__item.carousel-cell(v-for="review in reviews" :key="review.id")
                q.slider__item-quote {{review.text}}
                .slider__item-person
                    img(:src="review.authorPic" alt="аватар автора" ).slider__item-person-img
                    .title.person
                        span.title-name {{review['author-name']}}
                        span.title-about {{review['author-occ']}}


